# Byte-compiled
__pycache__/



# Translations
*.mo
*.pot


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# Sphinx documentation
docs/_build/



# Celery stuff
celerybeat-schedule
celerybeat.pid


# Environments
.env
scspi/.env
scspi-env/


# mkdocs documentation
/site
